body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0;
}

.to-right {
  float: right;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bottomnav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.bottomnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  text-align: center;
}

.main img {
  display: block;
  width: 350px;
  margin: auto;
  padding-top: 5%;
}

.input {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}

.input img {
  position: absolute;
  padding: 12px;
}

.input > input {
  flex: 1;
  position: relative;
  height: 40px;
  font-size: 18px;
  padding-left: 40px;
  border-radius: 30px;
  border-width: 1px;
}

.botones {
  padding-top: 1%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 400px;
  margin: auto;
}

button {
  padding: 13px 20px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: none;
}

.text{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding-top: 1%;
}

a{
  text-decoration: none;
}